<h1>
    About
  </h1>
  <ul>
    <h2>Developer : Hannah Whitmore</h2>
    <h4>This app is stores information about employees -- their title, company, hourly rate, hours worked per week, company, and years worked at that company in a database. Users
      can enter their own information or another employee's information to be stored in the database. Users can also look up a particular employee by name, and if
      that employee is in the database, the app will display that employee's average monthly and yearly salary. This app has many uses -- such as someone who is weighing their job options and
      wants to look at a comparable employee.
    </h4>
  </ul>